@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
$nav-height: 50px;

html,
body {
  height: 100%;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

.navbar {
  background-color: #000;
  height: $nav-height;
  margin-bottom: -($nav-height);
  z-index: 1;

  .navbar-brand {
    font-size: 1.1rem;
    color: #fff;
  }

  .nav-right {
    .nav-link {
      padding: .4em .8em;
    }

    i {
      color: #fff;
      font-size: 1.4rem;
      vertical-align: middle;
    }
  }
}

.main {
  height: 100vh;
  color: #fff;
  margin-bottom: 0;
  padding-top: $nav-height;
  background: rgba(117, 189, 209, 1);
  background: -moz-linear-gradient(
    left,
    rgba(117, 189, 209, 1) 0%,
    rgba(82, 140, 162, 1) 0%,
    rgba(73, 165, 191, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(117, 189, 209, 1)),
    color-stop(0%, rgba(82, 140, 162, 1)),
    color-stop(100%, rgba(73, 165, 191, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(117, 189, 209, 1) 0%,
    rgba(82, 140, 162, 1) 0%,
    rgba(73, 165, 191, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(117, 189, 209, 1) 0%,
    rgba(82, 140, 162, 1) 0%,
    rgba(73, 165, 191, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(117, 189, 209, 1) 0%,
    rgba(82, 140, 162, 1) 0%,
    rgba(73, 165, 191, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(117, 189, 209, 1) 0%,
    rgba(82, 140, 162, 1) 0%,
    rgba(73, 165, 191, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#75bdd1',
      endColorstr='#49a5bf',
      GradientType=1
    );

  .site-title {
    // margin-top: 1.5em;
    margin-bottom: .8em;
    font-size: 3.5rem;
  }

  .site-left-offset {
    margin-left: 1rem;
  }

  .intro {
    font-size: 1.3em;
  }

  .height-100 {
    height: 100%;
  }

  .skills-box {
    i {
      display: block;
      margin-bottom: 10px;
    }
  }

  .blinking-cursor {
    font-size: .9em;
    line-height: 1.1em;
    font-weight: 300;
    vertical-align: top;
    color: #ececec;
    -webkit-animation: 500ms blink 500ms ease infinite alternate;
    -moz-animation: 500ms blink 500ms ease infinite alternate;
    -ms-animation: 500ms blink 500ms ease infinite alternate;
    -o-animation: 500ms blink 500ms ease infinite alternate;
    animation: 500ms blink 500ms ease infinite alternate;

    @keyframes blink {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-moz-keyframes blink {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-webkit-keyframes blink {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-ms-keyframes blink {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-o-keyframes blink {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
